body{
  font-family: Arial, Helvetica, sans-serif;
}
h2{
align-self: center;
}
input[type="text"]{
  height:1rem;
}
input[type="color"]{
  height: 1rem;
}
input[type="button"]{
  margin: 0.3rem;
}
label{
  height: 2rem;
  margin: 0.3rem;
}
table{
  margin-left: 1rem;
}
.fRow {
  display: flex;
  flex-direction: row;
}
.fColumn{
  display: flex;
  flex-direction: column;
}

.aSpaceAround{
  align-items:space-around;
}
.aBaseLine{
  align-items: baseline;
}
.aCenter{
  align-items: center;
}
.jSpaceAround{
  justify-content: space-around;
}
.jStart{
  justify-content: flex-start;
}
.jCenter{
  justify-content: center;
}
.flexExpand{
  flex: 1;
}
.maxWidth{
  width: 100%;
}
#CrupierCards{
  background-color: red;
  height: 10rem;
}
.card{
  height: 8rem;
}
.enabled{
  background-color: blue;
}