body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282d3a;
}
h2 {
  align-self: center;
  font-size: 1.5rem;
}
input[type='text'] {
  height: 1.5rem;
  border: 0;
  font-size: 1rem;
  text-align: center;
   background-color: #0d857f; 
}
input[type='color'] {
  height: 1.5rem;
  border: 0;
   background-color: #0d857f; 
}
input[type='button'] {
  margin: 0.3rem;
}
label {
  height: 2rem;
  margin: 0.3rem;
}
table {
  margin-left: .5rem;
  border-collapse: collapse;
}
tbody {
  margin-top: 1rem;
  border-right: 0.2rem solid black;
  border-collapse: collapse;
}
td {
  margin-left: 0.5rem;
  border-right: 0.2rem solid black;
  border-top: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  text-align: center;
}
.fRow {
  display: flex;
  flex-direction: row;
}
.fColumn {
  display: flex;
  flex-direction: column;
}

.aSpaceAround {
  align-items: space-around;
}
.aBaseLine {
  align-items: baseline;
}
.aCenter {
  align-items: center;
}
.aEnd {
  align-items: flex-end;
}
.jSpaceAround {
  justify-content: space-around;
}
.jStart {
  justify-content: flex-start;
}
.jCenter {
  justify-content: center;
}
.jEnd {
  justify-content: flex-end;
}
.flexExpand {
  flex: 1;
}
.maxWidth {
  width: 100%;
}
.rounded {
  border-radius: 0.5rem;
}
.crupier {
  height: 12vh;
}
.crupierDiv {
  height: 6rem;
}
.gameOption{
  height: 6vh;
  cursor: pointer;
}
.playerCards {
  width: 31vw;
  min-height: 30vh;
  border-radius: 0.5rem;
  border: 2px solid black;
}
.abs{
  position: absolute;
  right:10vh;
}
#CrupierCards {
  background-color: #0d857f;
  height: 30vh;
  border-radius: 0.5rem;
  width: 70vw;
  margin-bottom: 3rem;
}
.card {
  height: 15vh;
  margin: 0.5rem;
}
.enabled {
  background-color: #0d857f;
}
.tableIcon {
  height: 1.5rem;
  margin-right: 0.2rem;
  cursor: pointer;
}
.buttonIcon{
  height: 3rem;
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  cursor: pointer;
}
.startImage {
  cursor: pointer;
}
.hidden{
  display: none;
}
#addButtonCell {
  border-top: 0;
  border-bottom: 0;
  margin-right: 0.2rem;
}
.deleteButtonCell {
  border-top: 0;
  border-bottom: 0;
  margin-right: 0.2rem;
}
.result{
  height: 10vh;
  position:absolute;
  align-self: flex-start;

}
.winnerCanvas{
  height: 100%;
  width: 100%;
}

#addIcon {
  margin-right: 0.2rem;
  cursor: pointer;
}
#clubs {
  width: 0;
  height: 0;
  position: absolute;
  left: -10em;
}
svg{
  margin-left: 1rem;
}
.logo{
  height: 15vh;
}
.logoimg{
  height: 7vh;
}
.border{
  border: 2px solid black;
}