body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #154946;
}
h2{
align-self: center;
}
input[type="text"]{
  height:1.5rem;
  border: 0;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(201, 231, 230);
}
input[type="color"]{
  height: 1.5rem;
  border:0;
  background-color: rgb(201, 231, 230);
}
input[type="button"]{
  margin: 0.3rem;
}
label{
  height: 2rem;
  margin: 0.3rem;
}
table{
  margin-left: 1rem;
  border-collapse: collapse ;
}
tbody{
  margin-top: 1rem;
  border-right: 0.2rem solid grey;
  border-collapse: collapse;
}
td{
  margin-left: .5rem;
  border-right: 0.2rem solid lightgrey;
  border-top: 0.2rem solid lightgrey;
  border-bottom: 0.2rem solid lightgrey;
  text-align: center  ;
}
.fRow {
  display: flex;
  flex-direction: row;
}
.fColumn{
  display: flex;
  flex-direction: column;
}

.aSpaceAround{
  align-items:space-around;
}
.aBaseLine{
  align-items: baseline;
}
.aCenter{
  align-items: center;
}
.aEnd{
  align-items: flex-end;
}
.jSpaceAround{
  justify-content: space-around;
}
.jStart{
  justify-content: flex-start;
}
.jCenter{
  justify-content: center;
}
.jEnd{
  justify-content: flex-end;
}
.flexExpand{
  flex: 1;
}
.maxWidth{
  width: 100%;
}
.rounded{
  border-radius: 0.5rem;
}
.crupier{
  height: 5rem;
}
.crupierDiv{
  height: 6rem;
}
#CrupierCards{
  background-color: rgb(138, 81, 81);
  height: 10rem;
  border-radius: 0.5rem;
  width: 50vw;
}
.card{
  height: 8rem;
  margin: .5rem;
}
.enabled{
  background-color: blue;
}
.tableIcon{
  height: 1rem;
  margin-right: 0.2rem;
}
.startImage{
  height: 4rem;
  margin-left: 2rem;
  cursor: pointer;
}
#addButtonCell{
  /* background-color: rgb(201, 231, 230); */
border-top: 0;
border-bottom: 0;
margin-right: 0.2rem;
}
.deleteButtonCell{
  border-top: 0;
  border-bottom: 0;
  margin-right: 0.2rem;
}
#addIcon{
  margin-right: 0.2rem;
  cursor: pointer;
}